@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  background-color: #0C1317;
  color: white;
  text-align: center;
  padding-top: 30rem;
  
}

h1 {
  margin-bottom: 4rem;
  font-size: 5rem;
  color: rgb(104, 228, 147);
}

h2 {
  margin-bottom: 3rem;
  font-size: 4rem;
  color: rgb(176, 26, 26);
}

.input input {
  border-radius: 1rem;
  background-color:rgb(104, 228, 147);
  padding-left: 1rem;
}

.btn {
  font-size: 2rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 2rem 0.5rem 2rem 0.5rem;
}

.card-img-top {
  max-height: 200px;
  width: auto;
  margin: 0 auto;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  white-space: normal;
  overflow: hidden;
  text-overflow:clip;
}

.card-text {
  font-size: 14px;
  white-space: normal;
  overflow: hidden;
  text-overflow:clip;
}

.card-grid {
  margin-top: 20px;
}

.col-2 {
  display: inline-block;
}

.message {
  margin-top: 10px;
  font-weight: bold;
  color:
}

.team-members {
  margin-top: 20px;
  font-weight: bold;
}

#teamList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.modal-message {
  color: #007bff;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 80%;
  text-align: center;

}

.modal-buttons {
  text-align: center;
}

.modal-buttons button {
  margin: 10px;
}